@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="post" action="/Echo/Post">
    <button type="submit">Test POST</button>
</form>

<form method="post" action="/Echo/Body">
    <textarea name="content"></textarea>
    <button type="submit">Send Body</button>
</form>
